/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ec5fe;
}

/* Header styling */
header {
    margin-bottom: 20px;
    color: #8000ff;
    text-align: center;
}

/* Navigation bar */
nav {
    border-bottom: 2px solid #ddd;
    text-align: center;
}

/* Heading styling */
h1 {
    color: #8000ff;
    text-align: center;
}

/* Section styling */
section {
    color: navy;
    background-color: #d7d7ff;
    padding: 20px;
    border-radius: 8px;
    margin: 10px auto;
    max-width: 90%;
}


/* Overlay styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

/* Button styling */
button1 {
    position: fixed;
    top: 60px; /* Adjusted to avoid overlapping with the footer */
    right: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: deeppink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button1:hover {
    background-color: #0056b3;
}

/* Footer styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    border-top: 1px solid #ccc;
    background-color: #f8f9fa;
    color: navy;
}